<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--Amazon Stuff-->
    <add key="Amazon_ECS_SOAPEndpoint" value="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService" />
    <add key="Amazon_ECS_AssociateTag" value="StrayG-20" />
    <add key="Amazon_ECS_AccessKeyID" value="AKIAI3VLHRUGE3KXH64Q" />
    <add key="Amazon_ECS_SecretAccessKey" value="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" />
    
    
    <!--Walmart Stuff-->
    <add key="Walmart_Endpoint" value="http://api.walmartlabs.com/v1/"/>
    <add key="Walmart_ApiKey" value="fwr47qemwu7rjv4khps7m4ad"/>
    <add key ="Walmart_LinkSharePublisherId" value="StrayG"/>

    <!--Boats Stuff-->
    <add key="Boats_Endpoint" value="http://api.boats.com/"/>
    <add key="Boats_ConsumerKey" value="30f0f6f5c9"/>
  </appSettings>
</configuration>